SECRET_KEY = random strings
DOMAIN_NAME_1 = "acceptable domain name 1"
DOMAIN_NAME_2 = "acceptable domain name 2"
DOMAIN_NAME_3 = "acceptable domain name 3"
CORSALLOWEDCLIENT = "Details"
DEFAULTUSERPROFILE = "Default profile picture URL"
DEFAULTUSERCOVER = "Default cover picture URL"
SPARROW_SMS_URL = "sparrow sms link"
SPARROW_SMS_TOKEN = enter sparrow sms token
SPARROW_SMS_FROM = sparrow sms source
STRIPE_SECRET_KEY = paste your stripe's secret key here
STRIPE_PUBLISHABLE_KEY = paste your stripe's publishable key here