{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/stat_cards.css' %}">
<link rel="stylesheet" href="{% static 'css/signup_chart.css' %}">
<link rel="stylesheet" href="{% static 'css/revenue_chart.css' %}">
<link rel="stylesheet" href="{% static 'css/gender_chart.css' %}">
<link rel="stylesheet" href="{% static 'css/subscription_chart.css' %}">
<link rel="stylesheet" href="{% static 'css/match_chart.css' %}">
<link rel="stylesheet" href="{% static 'css/verification_chart.css' %}">
<link rel="stylesheet" href="{% static 'css/age_chart.css' %}">
<link rel="stylesheet" href="{% static 'css/recent_users.css' %}">
<link rel="stylesheet" href="{% static 'css/reports_table.css' %}">

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

{% endblock %}

{% block content %}
<div class="dashboard">
  {% include "admin/components/stat_cards.html" %}
  <br />
  {% include "admin/components/signup_chart.html" %}
  <br />
  <div class="chart-grid grid-2">
    {% include "admin/components/revenue_chart.html" %} 
    {% include "admin/components/gender_chart.html" %}
  </div>
  <br />
  <div class="chart-grid grid-2">
    {% include "admin/components/subscription_chart.html" %} 
    {% include "admin/components/match_chart.html" %}
  </div>
  <br />
  <div class="chart-grid grid-2">
    {% include "admin/components/verification_chart.html" %} 
    {% include "admin/components/age_chart.html" %}
  </div>
  <br />
  <div class="chart-grid grid-2">
    {% include "admin/components/recent_users.html" %} 
    {% include "admin/components/reports_table.html" %}
  </div>
</div>

<script src="{% static 'charts.js' %}"></script>

{% endblock %}
